<div class="ml-3 mr-3 mt-2">
    <ng-container *ngFor="let restaurant of getRestaurantNames()">

        <h2 class="text-center font-semibold text-md mt-7 mb-2">
            {{ restaurant }}
        </h2>

        <table class="table-auto border border-2 border-slate-300 shadow shadow-md">
            <thead class="w-max">
                <tr class="border ">
                    <th class="border border-slate-300">Item Name</th>
                    <th class="border border-slate-300">Price</th>
                    <th class="border border-slate-300">Quantity</th>
                    <th class="border border-slate-300">Total</th>
                </tr>
            </thead>

            <tbody class="mt-3">
                <ng-container *ngFor="let cartItem of cartItems">
                    <tr *ngIf="cartItem.restaurantName == restaurant">
                        <td class="border border-slate-300 text-center w-max">{{ cartItem.name }}</td>
                        <td class="border border-slate-300 text-center w-max">{{ cartItem.price }}</td>
                        <td class="border border-slate-300 items-center w-full flex justify-center gap-1">
                            <button class="p-2 flex items-center justify-center h-4 w-4 rounded-full border bg-rose-500"
                                (click)="onClickMinus(cartItem.itemId)">
                                <span>-</span>
                            </button>
                            <span class="">{{ cartItem.quantity }}</span>
                            <button
                                class="p-2 flex items-center justify-center h-4 w-4 rounded-full border bg-green-500"
                                (click)="onClickPlus(cartItem.itemId)">
                                <span>+</span>
                            </button>
                        </td>
                        <td class="border border-slate-300 text-center w-max">{{ cartItem.price * cartItem.quantity}}
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </ng-container>

    <div *ngIf="isCartEmpty()" class="w-full mt-5 items-center flex flex-col text-md">
        <span class="text-center text-sm sm:text-base">Cart is Empty.
            <a class="ml-2 hover:cursor-pointer text-blue-500 underline" (click)="onClickRestaurants()">Go to
                restaurants</a>
        </span>
    </div>

    <div class="w-full mt-7">
        <ng-container *ngIf="calculateTotalPrice() as price">
            <span *ngIf="price.total != 0" class="text-md flex items-center justify-center">Restaurant Total -
                <span class=" ml-2 text-blue-500 flex items-center justify-center font-semibold">
                    Rs. {{ price.total }}
                </span>
            </span>
            <span *ngIf="price.commission != 0" class="text-md flex items-center justify-center mt-1">Commission -
                <span class=" ml-2 text-blue-500 flex items-center justify-center font-semibold">
                    Rs. {{ price.commission }}
                </span>
            </span>
            <span class="text-md flex items-center justify-center mt-4">Total Price to pay - </span>
            <span class="font-bold flex items-center justify-center mt-2 text-lg">
                <span class="text-blue-500">
                    Rs. {{ price.total + price.commission }} /-
                </span>
            </span>
            <div class="flex items-center justify-center mt-5 mb-7">
                <button [disabled]="isCartEmpty()" (click)="payAndPlaceOrder()"
                    [ngClass]="isCartEmpty()? 'disabled bg-slate-500' : 'bg-sky-700 transition-all duration-200 hover:cursor-pointer active:-translate-y-1'"
                    class="rounded-md px-6 py-2 text-sm text-white font-semibold">
                    Pay and Place Order
                </button>
            </div>
        </ng-container>
    </div>
</div>