<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-7 m-7">
    <article *ngFor="let restaurant of restaurants">

        <div (click)="onClickRestaurant(restaurant.restaurantId)"
            class="border-2 border-slate-300 shadow shadow-lg w-full p-2 hover:shadow-2xl hover:-translate-y-1 hover:cursor-pointer transition-all duration-200">
            <figure class="">
                <img src="{{ restaurant.imageUrl }}" alt="thumbnail" class=" w-full overflow-hidden h-56" />
            </figure>
            <h2 class="text-center mt-3 font-semibold">
                {{ restaurant.name }}
            </h2>
        </div>

    </article>
</div>