<!-- <form [formGroup]="registerForm" class="form-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Register to NoQ</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="full-width">
                        <input formControlName="fullName" matInput type="text" placeholder="Full Name">
                        <mat-hint style="color: red;"
                            *ngIf="registerForm.get('fullName')?.touched && registerForm.get('fullName')?.errors">
                            Full Name is required
                        </mat-hint>
                    </mat-form-field>
                </div><div class="col-md-6">
                    <mat-form-field class="full-width">
                        <input formControlName="phone" matInput type="text" placeholder="Phone number">
                        <mat-hint style="color: red;"
                            *ngIf="registerForm.get('phone')?.touched && registerForm.get('phone')?.errors">
                            Phone number is required
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="full-width">
                        <input formControlName="emailId" matInput type="text" placeholder="Email ID">
                        <mat-hint style="color: red;"
                            *ngIf="registerForm.get('emailId')?.touched && registerForm.get('emailId')?.errors">
                            Email ID is required
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="full-width">
                        <input formControlName="password" matInput type="password" placeholder="Password">
                        <mat-hint style="color: red;"
                            *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors">
                            Password is required
                        </mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="full-width">
                        <input formControlName="confirmPassword" matInput type="password" placeholder="Confirm Password">
                        <mat-hint style="color: red;"
                            *ngIf="registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.errors">
                            Confirm password must match password
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button (click)="onClickRegister()" mat-raised-button color="primary">Register</button>
        </mat-card-actions>
    </mat-card>
</form> -->

<form [formGroup]="registerForm" class="mt-5 mx-auto w-full min-h-64">
    <div class="flex flex-col gap-2 items-center">
        <h2 class="text-2xl font-semibold">
            Register to NoQ
        </h2>
        <div class="flex flex-col gap-4 border p-8 w-64 sm:w-max" [ngClass]="toastMessage != ''? 'border-rose-500': ''">

            <input class="p-2 text-md border rounded-sm focus:outline outline-2 outline-blue-500"
                formControlName="fullName" type="text" placeholder="Full Name">
            <span class="text-rose-500 text-sm ml-2"
                *ngIf="registerForm.get('fullName')?.touched && registerForm.get('fullName')?.errors">
                Full Name is required
            </span>

            <input class="p-2 text-md border rounded-sm focus:outline outline-2 outline-blue-500"
                formControlName="phone" type="text" placeholder="Phone Number">
            <span class="text-rose-500 text-sm ml-2"
                *ngIf="registerForm.get('phone')?.touched && registerForm.get('phone')?.errors">
                Phone number is required
            </span>

            <input class="p-2 text-md border rounded-sm focus:outline outline-2 outline-blue-500"
                formControlName="emailId" type="text" placeholder="Email ID">
            <span class="text-rose-500 text-sm ml-2"
                *ngIf="registerForm.get('emailId')?.touched && registerForm.get('emailId')?.errors">
                Email ID is required
            </span>

            <input class="p-2 text-md border rounded-sm focus:outline outline-2 outline-blue-500"
                formControlName="password" type="password" placeholder="Password">
            <span class="text-rose-500 text-sm ml-2"
                *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors">
                Password is required
            </span>

            <input class="p-2 text-md border rounded-sm focus:outline outline-2 outline-blue-500"
                formControlName="confirmPassword" type="password" placeholder="Confirm Password">
            <span class="text-rose-500 text-sm ml-2"
                *ngIf="registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.errors">
                Confirm Password is required
            </span>

            <span class="text-rose-500 text-sm ml-2 text-center" *ngIf="toastMessage != ''">
                {{ toastMessage }}
            </span>

            <button (click)="onClickRegister()" [ngClass]="errorsPresent() ? 
        'disabled bg-slate-500' : 'bg-sky-700  transition-all duration-200 hover:cursor-pointer active:-translate-y-1 '"
                [disabled]="errorsPresent()" class="rounded-md px-6 py-2 text-xl text-white">
                Register
            </button>
        </div>

    </div>
</form>